<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

    
</head>
<body>
    <style>.box {  }; </style>
    <div class="box">
            <div id="ebce531f862f4e3cbf3b2a55603a0c86" style="width:900px; height:500px;"></div>
    <script>
        var chart_ebce531f862f4e3cbf3b2a55603a0c86 = echarts.init(
            document.getElementById('ebce531f862f4e3cbf3b2a55603a0c86'), 'white', {renderer: 'canvas'});
        var option_ebce531f862f4e3cbf3b2a55603a0c86 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u65b0\u623f\u4ef7\u683c",
            "data": [
                84743.65,
                78053.8,
                67917.14,
                64434.72,
                64315.98,
                49627.67,
                48665.94,
                46193.85,
                43820.13,
                41739.09,
                41571.12,
                40671.44,
                30148.16,
                29861.51,
                29589.29,
                29204.33,
                28028.63,
                27984.28,
                27751.98,
                27695.05,
                27417.04,
                27338.42,
                26738.25,
                26053.28,
                26000.07,
                22222.66,
                21780.15,
                21573.32,
                21378.88,
                21103.93,
                20837.89,
                20712.74,
                20607.69,
                20562.32,
                19968.9,
                19835.98,
                19599.54,
                19573.88,
                19498.18,
                19227.12,
                19042.8,
                18987.95,
                18376.64,
                18249.14,
                12762.98,
                12659.98,
                12385.43,
                12191.6,
                12020.83,
                11790.09,
                11759.15,
                11616.71,
                11614.54,
                11155.44,
                11094.85,
                11020.89,
                10928.32,
                10750.76,
                10732.63,
                10634.43,
                10569.26,
                10506.5,
                10241.96,
                9990.97,
                9984.52,
                9907.81,
                9887.9,
                9861.67,
                9662.7,
                9425.47,
                9384.09,
                9147.98,
                9070.16,
                9038.14,
                8988.53,
                8917.9,
                8780.36,
                8713.11,
                8657.87,
                8555.58,
                8517.61,
                8355.75,
                8149.67,
                8106.22,
                8093.5,
                8064.64,
                8031.73,
                7983.04,
                7978.38,
                7854.46,
                7701.46,
                7508.75,
                7462.02,
                7293.24,
                6761.73,
                6711.77,
                6483.65,
                6245.3,
                5948.22,
                4570.63
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u65b0\u623f\u4ef7\u683c"
            ],
            "selected": {
                "\u65b0\u623f\u4ef7\u683c": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5317\u4eac",
                "\u6df1\u5733",
                "\u4e0a\u6d77",
                "\u4e09\u4e9a",
                "\u5e7f\u5dde",
                "\u676d\u5dde",
                "\u5357\u4eac",
                "\u73e0\u6d77",
                "\u53a6\u95e8",
                "\u4e1c\u839e",
                "\u6b66\u6c49",
                "\u5929\u6d25",
                "\u82cf\u5dde",
                "\u6210\u90fd",
                "\u5b81\u6ce2",
                "\u798f\u5dde",
                "\u6d77\u53e3",
                "\u6e29\u5dde",
                "\u6606\u660e",
                "\u897f\u5b89",
                "\u9752\u5c9b",
                "\u65e0\u9521",
                "\u6606\u5c71",
                "\u4f5b\u5c71",
                "\u6d4e\u5357",
                "\u77f3\u5bb6\u5e84",
                "\u5927\u8fde",
                "\u5408\u80a5",
                "\u5609\u5174",
                "\u4e2d\u5c71",
                "\u91cd\u5e86",
                "\u5357\u901a",
                "\u91d1\u534e",
                "\u90d1\u5dde",
                "\u60e0\u5dde",
                "\u5357\u660c",
                "\u592a\u539f",
                "\u7ecd\u5174",
                "\u5e38\u5dde",
                "\u5eca\u574a",
                "\u6c88\u9633",
                "\u957f\u6c99",
                "\u6e56\u5dde",
                "\u54c8\u5c14\u6ee8",
                "\u8d35\u9633",
                "\u5357\u5b81",
                "\u4fdd\u5b9a",
                "\u6e5b\u6c5f",
                "\u53f0\u5dde",
                "\u6f33\u5dde",
                "\u9547\u6c5f",
                "\u957f\u6625",
                "\u547c\u548c\u6d69\u7279",
                "\u5170\u5dde",
                "\u7709\u5c71",
                "\u70df\u53f0",
                "\u67f3\u5dde",
                "\u51c9\u5c71",
                "\u829c\u6e56",
                "\u6cc9\u5dde",
                "\u76d0\u57ce",
                "\u5f20\u5bb6\u53e3",
                "\u8d63\u5dde",
                "\u5357\u5145",
                "\u4e0a\u9976",
                "\u5a01\u6d77",
                "\u5f90\u5dde",
                "\u6c5f\u95e8",
                "\u5510\u5c71",
                "\u6e05\u8fdc",
                "\u5f00\u5c01",
                "\u6842\u6797",
                "\u6dc4\u535a",
                "\u5b89\u5e86",
                "\u8944\u9633",
                "\u9ec4\u77f3",
                "\u7ef5\u9633",
                "\u6dee\u5b89",
                "\u6d1b\u9633",
                "\u8fbe\u5dde",
                "\u5409\u5b89",
                "\u4e39\u4e1c",
                "\u4e34\u6c82",
                "\u9632\u57ce\u6e2f",
                "\u9a6c\u978d\u5c71",
                "\u5cb3\u9633",
                "\u682a\u6d32",
                "\u9102\u5dde",
                "\u6f4d\u574a",
                "\u5317\u6d77",
                "\u54b8\u9633",
                "\u4e5d\u6c5f",
                "\u5409\u6797",
                "\u5b9c\u660c",
                "\u65b0\u4e61",
                "\u94f6\u5ddd",
                "\u5b9d\u9e21",
                "\u8bb8\u660c",
                "\u5e38\u5fb7",
                "\u6c49\u4e2d"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u65b0\u623f\u4ef7\u683c\u67f1\u72b6\u6392\u540d\u56fe"
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 5000,
        "max": 65000,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 0,
        "end": 10,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_ebce531f862f4e3cbf3b2a55603a0c86.setOption(option_ebce531f862f4e3cbf3b2a55603a0c86);
    </script>
<br/>            <div id="3d55ee1a723d4d42a20e837d4cb1f337" style="width:900px; height:500px;"></div>
    <script>
        var chart_3d55ee1a723d4d42a20e837d4cb1f337 = echarts.init(
            document.getElementById('3d55ee1a723d4d42a20e837d4cb1f337'), 'white', {renderer: 'canvas'});
        var option_3d55ee1a723d4d42a20e837d4cb1f337 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4e8c\u624b\u623f",
            "data": [
                60394.9,
                60142.3,
                54531.9,
                39359.9,
                35193.4,
                32394.0,
                32045.4,
                30724.6,
                27302.8,
                25059.3,
                24012.7,
                22496.1,
                21025.0,
                20030.2,
                19465.5,
                19070.7,
                18248.6,
                17485.3,
                16913.6,
                16909.4,
                16472.0,
                16387.0,
                16071.6,
                16071.0,
                15727.4,
                15558.0,
                15557.5,
                15431.7,
                15318.3,
                15251.1,
                15131.1,
                14842.7,
                14738.0,
                14349.1,
                13812.6,
                13787.6,
                13559.4,
                13342.4,
                13254.8,
                13204.2,
                12921.5,
                12798.3,
                12460.5,
                12319.4,
                12267.0,
                11957.6,
                11869.2,
                11720.7,
                11325.3,
                11307.3,
                11238.3,
                11138.5,
                11108.1,
                10973.0,
                10940.3,
                10867.6,
                10777.1,
                10733.0,
                10548.0,
                10489.3,
                10313.1,
                10022.8,
                9662.9,
                9652.5,
                9564.1,
                9547.3,
                9333.4,
                9157.5,
                8905.0,
                8852.0,
                8758.2,
                8701.3,
                8601.8,
                8437.2,
                8310.1,
                8295.0,
                8173.3,
                8165.0,
                8023.6,
                8022.9,
                8006.0,
                7840.1,
                7774.1,
                7728.7,
                7715.0,
                7581.7,
                7367.7,
                7221.7,
                7216.0,
                7192.0,
                7115.0,
                7012.6,
                6870.7,
                6818.0,
                6704.1,
                6485.9,
                6413.9,
                5628.5,
                5382.8,
                5049.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e8c\u624b\u623f"
            ],
            "selected": {
                "\u4e8c\u624b\u623f": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5317\u4eac",
                "\u6df1\u5733",
                "\u4e0a\u6d77",
                "\u53a6\u95e8",
                "\u676d\u5dde",
                "\u4e09\u4e9a",
                "\u5e7f\u5dde",
                "\u5357\u4eac",
                "\u82cf\u5dde",
                "\u798f\u5dde",
                "\u5929\u6d25",
                "\u9752\u5c9b",
                "\u6e29\u5dde",
                "\u4e1c\u839e",
                "\u5b81\u6ce2",
                "\u73e0\u6d77",
                "\u6d4e\u5357",
                "\u6606\u5c71",
                "\u6b66\u6c49",
                "\u5eca\u574a",
                "\u4f5b\u5c71",
                "\u91d1\u534e",
                "\u6d77\u53e3",
                "\u5408\u80a5",
                "\u53f0\u5dde",
                "\u77f3\u5bb6\u5e84",
                "\u5609\u5174",
                "\u65e0\u9521",
                "\u5927\u8fde",
                "\u5e38\u5dde",
                "\u7ecd\u5174",
                "\u897f\u5b89",
                "\u5357\u901a",
                "\u6210\u90fd",
                "\u5357\u5b81",
                "\u5357\u660c",
                "\u90d1\u5dde",
                "\u6f33\u5dde",
                "\u5170\u5dde",
                "\u6606\u660e",
                "\u592a\u539f",
                "\u4e2d\u5c71",
                "\u6cc9\u5dde",
                "\u4fdd\u5b9a",
                "\u6e56\u5dde",
                "\u5f90\u5dde",
                "\u91cd\u5e86",
                "\u547c\u548c\u6d69\u7279",
                "\u957f\u6c99",
                "\u76d0\u57ce",
                "\u70df\u53f0",
                "\u60e0\u5dde",
                "\u957f\u6625",
                "\u4e34\u6c82",
                "\u8d63\u5dde",
                "\u829c\u6e56",
                "\u6c88\u9633",
                "\u51c9\u5c71\u5dde",
                "\u8d35\u9633",
                "\u5510\u5c71",
                "\u9547\u6c5f",
                "\u6d1b\u9633",
                "\u6dee\u5b89",
                "\u67f3\u5dde",
                "\u8944\u9633",
                "\u6e5b\u6c5f",
                "\u54b8\u9633",
                "\u5b89\u5e86",
                "\u54c8\u5c14\u6ee8",
                "\u5f00\u5c01",
                "\u6dc4\u535a",
                "\u5b9c\u660c",
                "\u6c5f\u95e8",
                "\u6e05\u8fdc",
                "\u4e0a\u9976",
                "\u5f20\u5bb6\u53e3",
                "\u4e5d\u6c5f",
                "\u7ef5\u9633",
                "\u5357\u5145",
                "\u5a01\u6d77",
                "\u5cb3\u9633",
                "\u5e38\u5fb7",
                "\u65b0\u4e61",
                "\u7709\u5c71",
                "\u5409\u5b89",
                "\u8fbe\u5dde",
                "\u5317\u6d77",
                "\u8bb8\u660c",
                "\u9a6c\u978d\u5c71",
                "\u6f4d\u574a",
                "\u9ec4\u77f3",
                "\u6842\u6797",
                "\u682a\u6d32",
                "\u9632\u57ce\u6e2f",
                "\u5409\u6797",
                "\u4e39\u4e1c",
                "\u9102\u5dde",
                "\u94f6\u5ddd",
                "\u6c49\u4e2d",
                "\u5b9d\u9e21"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e8c\u624b\u623f\u4ef7\u683c\u67f1\u72b6\u6392\u540d\u56fe"
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 5000,
        "max": 65000,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 0,
        "end": 10,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_3d55ee1a723d4d42a20e837d4cb1f337.setOption(option_3d55ee1a723d4d42a20e837d4cb1f337);
    </script>
<br/>            <div id="f0b33a5ce3bd463cbfbd7e82c8ff05b7" style="width:900px; height:500px;"></div>
    <script>
        var chart_f0b33a5ce3bd463cbfbd7e82c8ff05b7 = echarts.init(
            document.getElementById('f0b33a5ce3bd463cbfbd7e82c8ff05b7'), 'white', {renderer: 'canvas'});
        var option_f0b33a5ce3bd463cbfbd7e82c8ff05b7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "geo",
            "coordinateSystem": "geo",
            "symbolSize": 12,
            "data": [
                {
                    "name": "\u5317\u4eac",
                    "value": [
                        116.407526,
                        39.90403,
                        60394.9
                    ]
                },
                {
                    "name": "\u6df1\u5733",
                    "value": [
                        114.07,
                        22.62,
                        60142.3
                    ]
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": [
                        121.473701,
                        31.230416,
                        54531.9
                    ]
                },
                {
                    "name": "\u53a6\u95e8",
                    "value": [
                        118.1,
                        24.46,
                        39359.9
                    ]
                },
                {
                    "name": "\u676d\u5dde",
                    "value": [
                        120.19,
                        30.26,
                        35193.4
                    ]
                },
                {
                    "name": "\u4e09\u4e9a",
                    "value": [
                        109.511909,
                        18.252847,
                        32394.0
                    ]
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": [
                        113.23,
                        23.16,
                        32045.4
                    ]
                },
                {
                    "name": "\u5357\u4eac",
                    "value": [
                        118.78,
                        32.04,
                        30724.6
                    ]
                },
                {
                    "name": "\u82cf\u5dde",
                    "value": [
                        120.62,
                        31.32,
                        27302.8
                    ]
                },
                {
                    "name": "\u798f\u5dde",
                    "value": [
                        119.3,
                        26.08,
                        25059.3
                    ]
                },
                {
                    "name": "\u5929\u6d25",
                    "value": [
                        117.200983,
                        39.084158,
                        24012.7
                    ]
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": [
                        120.33,
                        36.07,
                        22496.1
                    ]
                },
                {
                    "name": "\u6e29\u5dde",
                    "value": [
                        120.65,
                        28.01,
                        21025.0
                    ]
                },
                {
                    "name": "\u4e1c\u839e",
                    "value": [
                        113.75,
                        23.04,
                        20030.2
                    ]
                },
                {
                    "name": "\u5b81\u6ce2",
                    "value": [
                        121.56,
                        29.86,
                        19465.5
                    ]
                },
                {
                    "name": "\u73e0\u6d77",
                    "value": [
                        113.52,
                        22.3,
                        19070.7
                    ]
                },
                {
                    "name": "\u6d4e\u5357",
                    "value": [
                        117,
                        36.65,
                        18248.6
                    ]
                },
                {
                    "name": "\u6606\u5c71",
                    "value": [
                        120.95,
                        31.39,
                        17485.3
                    ]
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": [
                        114.31,
                        30.52,
                        16913.6
                    ]
                },
                {
                    "name": "\u5eca\u574a",
                    "value": [
                        116.7,
                        39.53,
                        16909.4
                    ]
                },
                {
                    "name": "\u4f5b\u5c71",
                    "value": [
                        113.11,
                        23.05,
                        16472.0
                    ]
                },
                {
                    "name": "\u91d1\u534e",
                    "value": [
                        119.64,
                        29.12,
                        16387.0
                    ]
                },
                {
                    "name": "\u6d77\u53e3",
                    "value": [
                        110.35,
                        20.02,
                        16071.6
                    ]
                },
                {
                    "name": "\u5408\u80a5",
                    "value": [
                        117.27,
                        31.86,
                        16071.0
                    ]
                },
                {
                    "name": "\u53f0\u5dde",
                    "value": [
                        121.420757,
                        28.656386,
                        15727.4
                    ]
                },
                {
                    "name": "\u77f3\u5bb6\u5e84",
                    "value": [
                        114.48,
                        38.03,
                        15558.0
                    ]
                },
                {
                    "name": "\u5609\u5174",
                    "value": [
                        120.76,
                        30.77,
                        15557.5
                    ]
                },
                {
                    "name": "\u65e0\u9521",
                    "value": [
                        120.29,
                        31.59,
                        15431.7
                    ]
                },
                {
                    "name": "\u5927\u8fde",
                    "value": [
                        121.62,
                        38.92,
                        15318.3
                    ]
                },
                {
                    "name": "\u5e38\u5dde",
                    "value": [
                        119.95,
                        31.79,
                        15251.1
                    ]
                },
                {
                    "name": "\u7ecd\u5174",
                    "value": [
                        120.58,
                        30.01,
                        15131.1
                    ]
                },
                {
                    "name": "\u897f\u5b89",
                    "value": [
                        108.95,
                        34.27,
                        14842.7
                    ]
                },
                {
                    "name": "\u5357\u901a",
                    "value": [
                        121.05,
                        32.08,
                        14738.0
                    ]
                },
                {
                    "name": "\u6210\u90fd",
                    "value": [
                        104.06,
                        30.67,
                        14349.1
                    ]
                },
                {
                    "name": "\u5357\u5b81",
                    "value": [
                        108.33,
                        22.84,
                        13812.6
                    ]
                },
                {
                    "name": "\u5357\u660c",
                    "value": [
                        115.89,
                        28.68,
                        13787.6
                    ]
                },
                {
                    "name": "\u90d1\u5dde",
                    "value": [
                        113.65,
                        34.76,
                        13559.4
                    ]
                },
                {
                    "name": "\u6f33\u5dde",
                    "value": [
                        117.39,
                        24.31,
                        13342.4
                    ]
                },
                {
                    "name": "\u5170\u5dde",
                    "value": [
                        103.73,
                        36.03,
                        13254.8
                    ]
                },
                {
                    "name": "\u6606\u660e",
                    "value": [
                        102.73,
                        25.04,
                        13204.2
                    ]
                },
                {
                    "name": "\u592a\u539f",
                    "value": [
                        112.53,
                        37.87,
                        12921.5
                    ]
                },
                {
                    "name": "\u4e2d\u5c71",
                    "value": [
                        113.38,
                        22.52,
                        12798.3
                    ]
                },
                {
                    "name": "\u6cc9\u5dde",
                    "value": [
                        118.58,
                        24.93,
                        12460.5
                    ]
                },
                {
                    "name": "\u4fdd\u5b9a",
                    "value": [
                        115.48,
                        38.85,
                        12319.4
                    ]
                },
                {
                    "name": "\u6e56\u5dde",
                    "value": [
                        120.1,
                        30.86,
                        12267.0
                    ]
                },
                {
                    "name": "\u5f90\u5dde",
                    "value": [
                        117.2,
                        34.26,
                        11957.6
                    ]
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": [
                        106.551556,
                        29.563009,
                        11869.2
                    ]
                },
                {
                    "name": "\u547c\u548c\u6d69\u7279",
                    "value": [
                        111.65,
                        40.82,
                        11720.7
                    ]
                },
                {
                    "name": "\u957f\u6c99",
                    "value": [
                        113,
                        28.21,
                        11325.3
                    ]
                },
                {
                    "name": "\u76d0\u57ce",
                    "value": [
                        120.13,
                        33.38,
                        11307.3
                    ]
                },
                {
                    "name": "\u70df\u53f0",
                    "value": [
                        121.39,
                        37.52,
                        11238.3
                    ]
                },
                {
                    "name": "\u60e0\u5dde",
                    "value": [
                        114.4,
                        23.09,
                        11138.5
                    ]
                },
                {
                    "name": "\u957f\u6625",
                    "value": [
                        125.35,
                        43.88,
                        11108.1
                    ]
                },
                {
                    "name": "\u4e34\u6c82",
                    "value": [
                        118.35,
                        35.05,
                        10973.0
                    ]
                },
                {
                    "name": "\u8d63\u5dde",
                    "value": [
                        114.56,
                        28.52,
                        10940.3
                    ]
                },
                {
                    "name": "\u829c\u6e56",
                    "value": [
                        118.38,
                        31.33,
                        10867.6
                    ]
                },
                {
                    "name": "\u6c88\u9633",
                    "value": [
                        123.38,
                        41.8,
                        10777.1
                    ]
                },
                {
                    "name": "\u51c9\u5c71\u5dde",
                    "value": [
                        102.63,
                        37.93,
                        10733.0
                    ]
                },
                {
                    "name": "\u8d35\u9633",
                    "value": [
                        106.71,
                        26.57,
                        10548.0
                    ]
                },
                {
                    "name": "\u5510\u5c71",
                    "value": [
                        118.02,
                        39.63,
                        10489.3
                    ]
                },
                {
                    "name": "\u9547\u6c5f",
                    "value": [
                        119.44,
                        32.2,
                        10313.1
                    ]
                },
                {
                    "name": "\u6d1b\u9633",
                    "value": [
                        112.44,
                        34.7,
                        10022.8
                    ]
                },
                {
                    "name": "\u6dee\u5b89",
                    "value": [
                        119.15,
                        33.5,
                        9662.9
                    ]
                },
                {
                    "name": "\u67f3\u5dde",
                    "value": [
                        109.4,
                        24.33,
                        9652.5
                    ]
                },
                {
                    "name": "\u8944\u9633",
                    "value": [
                        112.2,
                        32.08,
                        9564.1
                    ]
                },
                {
                    "name": "\u6e5b\u6c5f",
                    "value": [
                        110.359377,
                        21.270708,
                        9547.3
                    ]
                },
                {
                    "name": "\u54b8\u9633",
                    "value": [
                        108.72,
                        34.36,
                        9333.4
                    ]
                },
                {
                    "name": "\u5b89\u5e86",
                    "value": [
                        117.02,
                        30.31,
                        9157.5
                    ]
                },
                {
                    "name": "\u54c8\u5c14\u6ee8",
                    "value": [
                        126.63,
                        45.75,
                        8905.0
                    ]
                },
                {
                    "name": "\u5f00\u5c01",
                    "value": [
                        114.35,
                        34.79,
                        8852.0
                    ]
                },
                {
                    "name": "\u6dc4\u535a",
                    "value": [
                        118.05,
                        36.78,
                        8758.2
                    ]
                },
                {
                    "name": "\u5b9c\u660c",
                    "value": [
                        111.3,
                        30.7,
                        8701.3
                    ]
                },
                {
                    "name": "\u6c5f\u95e8",
                    "value": [
                        113.06,
                        22.61,
                        8601.8
                    ]
                },
                {
                    "name": "\u6e05\u8fdc",
                    "value": [
                        113.01,
                        23.7,
                        8437.2
                    ]
                },
                {
                    "name": "\u4e0a\u9976",
                    "value": [
                        117.58,
                        25.27,
                        8310.1
                    ]
                },
                {
                    "name": "\u5f20\u5bb6\u53e3",
                    "value": [
                        114.87,
                        40.82,
                        8295.0
                    ]
                },
                {
                    "name": "\u4e5d\u6c5f",
                    "value": [
                        115.97,
                        29.71,
                        8173.3
                    ]
                },
                {
                    "name": "\u7ef5\u9633",
                    "value": [
                        104.73,
                        31.48,
                        8165.0
                    ]
                },
                {
                    "name": "\u5357\u5145",
                    "value": [
                        106.110698,
                        30.837793,
                        8023.6
                    ]
                },
                {
                    "name": "\u5a01\u6d77",
                    "value": [
                        122.1,
                        37.5,
                        8022.9
                    ]
                },
                {
                    "name": "\u5cb3\u9633",
                    "value": [
                        113.09,
                        29.37,
                        8006.0
                    ]
                },
                {
                    "name": "\u5e38\u5fb7",
                    "value": [
                        111.69,
                        29.05,
                        7840.1
                    ]
                },
                {
                    "name": "\u65b0\u4e61",
                    "value": [
                        113.52,
                        35.18,
                        7774.1
                    ]
                },
                {
                    "name": "\u7709\u5c71",
                    "value": [
                        103.29,
                        29.36,
                        7728.7
                    ]
                },
                {
                    "name": "\u5409\u5b89",
                    "value": [
                        114.58,
                        27.07,
                        7715.0
                    ]
                },
                {
                    "name": "\u8fbe\u5dde",
                    "value": [
                        107.5,
                        31.22,
                        7581.7
                    ]
                },
                {
                    "name": "\u5317\u6d77",
                    "value": [
                        109.12,
                        21.49,
                        7367.7
                    ]
                },
                {
                    "name": "\u8bb8\u660c",
                    "value": [
                        113.49,
                        34.01,
                        7221.7
                    ]
                },
                {
                    "name": "\u9a6c\u978d\u5c71",
                    "value": [
                        118.48,
                        31.56,
                        7216.0
                    ]
                },
                {
                    "name": "\u6f4d\u574a",
                    "value": [
                        119.1,
                        36.62,
                        7192.0
                    ]
                },
                {
                    "name": "\u9ec4\u77f3",
                    "value": [
                        115.06,
                        30.12,
                        7115.0
                    ]
                },
                {
                    "name": "\u6842\u6797",
                    "value": [
                        110.28,
                        25.29,
                        7012.6
                    ]
                },
                {
                    "name": "\u682a\u6d32",
                    "value": [
                        113.16,
                        27.83,
                        6870.7
                    ]
                },
                {
                    "name": "\u9632\u57ce\u6e2f",
                    "value": [
                        108.2,
                        21.37,
                        6818.0
                    ]
                },
                {
                    "name": "\u5409\u6797",
                    "value": [
                        125.32599,
                        43.896536,
                        6704.1
                    ]
                },
                {
                    "name": "\u4e39\u4e1c",
                    "value": [
                        124.37,
                        40.13,
                        6485.9
                    ]
                },
                {
                    "name": "\u9102\u5dde",
                    "value": [
                        114.52,
                        30.23,
                        6413.9
                    ]
                },
                {
                    "name": "\u94f6\u5ddd",
                    "value": [
                        106.27,
                        38.47,
                        5628.5
                    ]
                },
                {
                    "name": "\u6c49\u4e2d",
                    "value": [
                        107.01,
                        33.04,
                        5382.8
                    ]
                },
                {
                    "name": "\u5b9d\u9e21",
                    "value": [
                        107.15,
                        34.38,
                        5049.0
                    ]
                }
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "geo"
            ],
            "selected": {
                "geo": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "formatter": function (params) {        return params.name + ' : ' + params.value[2];    },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e8c\u624b\u623f\u4ef7\u683c-\u5730\u56fe"
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 5000,
        "max": 20000,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    },
    "geo": {
        "map": "china",
        "roam": true,
        "itemStyle": {
            "color": "#7EC0EE",
            "borderColor": "yellow"
        },
        "emphasis": {}
    }
};
        chart_f0b33a5ce3bd463cbfbd7e82c8ff05b7.setOption(option_f0b33a5ce3bd463cbfbd7e82c8ff05b7);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
