<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box {  }; </style>
    <div class="box">
            <div id="dbf3b25d576948818dccb5d8197b132f" style="width:900px; height:500px;"></div>
    <script>
        var chart_dbf3b25d576948818dccb5d8197b132f = echarts.init(
            document.getElementById('dbf3b25d576948818dccb5d8197b132f'), 'white', {renderer: 'canvas'});
        var option_dbf3b25d576948818dccb5d8197b132f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "fj",
            "data": [
                4276.4,
                4133.2,
                3691.7,
                3311.9,
                3308.0,
                3015.3,
                2850.5,
                2824.6,
                2815.5,
                2525.7,
                2462.8,
                2425.7,
                2401.8,
                2392.8,
                2367.4,
                2295.9,
                2286.1,
                2242.6,
                2222.8,
                2207.5,
                2194.1,
                2170.7,
                2150.1,
                2130.1,
                2125.0,
                2104.8,
                2056.5,
                2050.4,
                2025.4,
                2024.2,
                2007.9,
                1998.4,
                1976.2,
                1969.8,
                1966.1,
                1943.3,
                1915.5,
                1913.1,
                1911.1,
                1890.7,
                1846.9,
                1839.5,
                1805.2,
                1800.5,
                1786.1,
                1758.5,
                1755.0,
                1746.1,
                1714.0,
                1678.5,
                1666.1,
                1633.8,
                1632.6,
                1592.1,
                1591.0,
                1591.0,
                1590.6,
                1579.5,
                1572.0,
                1561.9,
                1555.9,
                1554.5,
                1552.1,
                1548.4,
                1542.8,
                1512.6,
                1512.2,
                1508.9,
                1499.8,
                1496.7,
                1471.2,
                1460.9,
                1452.4,
                1448.0,
                1445.5,
                1434.6,
                1397.4,
                1375.7,
                1363.2,
                1356.9,
                1315.8,
                1307.8,
                1302.2,
                1248.4,
                1239.8,
                1221.8,
                1215.6,
                1211.6,
                1207.1,
                1206.9,
                1185.7,
                1173.0,
                1100.2,
                1093.5,
                1090.6,
                1073.7,
                1031.9,
                977.1,
                923.4,
                877.4
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "fj"
            ],
            "selected": {
                "fj": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5317\u4eac",
                "\u4e09\u4e9a",
                "\u73e0\u6d77",
                "\u6e29\u5dde",
                "\u6d77\u53e3",
                "\u5357\u5b81",
                "\u6df1\u5733",
                "\u7ecd\u5174",
                "\u8fbe\u5dde",
                "\u5e38\u5fb7",
                "\u4e0a\u6d77",
                "\u6606\u5c71",
                "\u682a\u6d32",
                "\u8d63\u5dde",
                "\u6e05\u8fdc",
                "\u6c5f\u95e8",
                "\u592a\u539f",
                "\u6e5b\u6c5f",
                "\u5cb3\u9633",
                "\u5b9c\u660c",
                "\u67f3\u5dde",
                "\u6e56\u5dde",
                "\u9ec4\u77f3",
                "\u5409\u5b89",
                "\u7709\u5c71",
                "\u5a01\u6d77",
                "\u5317\u6d77",
                "\u5f00\u5c01",
                "\u4e0a\u9976",
                "\u5b81\u6ce2",
                "\u8944\u9633",
                "\u91d1\u534e",
                "\u5357\u5145",
                "\u6606\u660e",
                "\u51c9\u5c71\u5dde",
                "\u54b8\u9633",
                "\u6dee\u5b89",
                "\u82cf\u5dde",
                "\u5f20\u5bb6\u53e3",
                "\u4e5d\u6c5f",
                "\u676d\u5dde",
                "\u5170\u5dde",
                "\u5357\u660c",
                "\u5e7f\u5dde",
                "\u76d0\u57ce",
                "\u5408\u80a5",
                "\u5e38\u5dde",
                "\u65e0\u9521",
                "\u53f0\u5dde",
                "\u6f4d\u574a",
                "\u8d35\u9633",
                "\u65b0\u4e61",
                "\u5609\u5174",
                "\u5357\u4eac",
                "\u6cc9\u5dde",
                "\u6842\u6797",
                "\u4e1c\u839e",
                "\u9a6c\u978d\u5c71",
                "\u60e0\u5dde",
                "\u547c\u548c\u6d69\u7279",
                "\u9547\u6c5f",
                "\u4e2d\u5c71",
                "\u7ef5\u9633",
                "\u5b9d\u9e21",
                "\u6dc4\u535a",
                "\u4e34\u6c82",
                "\u5927\u8fde",
                "\u6f33\u5dde",
                "\u8bb8\u660c",
                "\u4f5b\u5c71",
                "\u5409\u6797",
                "\u4e39\u4e1c",
                "\u94f6\u5ddd",
                "\u5357\u901a",
                "\u5b89\u5e86",
                "\u957f\u6625",
                "\u798f\u5dde",
                "\u54c8\u5c14\u6ee8",
                "\u6d1b\u9633",
                "\u53a6\u95e8",
                "\u957f\u6c99",
                "\u5510\u5c71",
                "\u9632\u57ce\u6e2f",
                "\u9752\u5c9b",
                "\u70df\u53f0",
                "\u4fdd\u5b9a",
                "\u5f90\u5dde",
                "\u897f\u5b89",
                "\u9102\u5dde",
                "\u5eca\u574a",
                "\u6c88\u9633",
                "\u5929\u6d25",
                "\u6d4e\u5357",
                "\u6c49\u4e2d",
                "\u90d1\u5dde",
                "\u6b66\u6c49",
                "\u77f3\u5bb6\u5e84",
                "\u91cd\u5e86",
                "\u6210\u90fd",
                "\u829c\u6e56"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u79df\u623f\u4ef7\u683c\u67f1\u72b6\u6392\u540d\u56fe"
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 50,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 0,
        "end": 10,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_dbf3b25d576948818dccb5d8197b132f.setOption(option_dbf3b25d576948818dccb5d8197b132f);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
